ServerName ${APP_DOMAIN}

<VirtualHost *:80>
    ServerName ${APP_DOMAIN}

    DocumentRoot /var/www/html/public
    DirectoryIndex index.php

    SetEnvIf X-Forwarded-Proto "^https$" HTTPS=on
    SetEnvIf X-Forwarded-Ssl "^on$" HTTPS=on

    <Directory /var/www/html/public>
        Options -Indexes +FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    <FilesMatch "\.php$">
        SetHandler application/x-httpd-php
    </FilesMatch>

    ErrorLog /proc/self/fd/2
    CustomLog /proc/self/fd/1 combined
</VirtualHost>
